.Header {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.head {
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  text-transform: uppercase;
  height: 90vh;
  pointer-events: none;
  z-index: 10;
}
.top {
  border-bottom: solid 5px #111;
  width: min-content;
  text-shadow: #ffffff88 .1rem .1rem 0;
}
.top, .top > span {
  font-size: min(9vw, 5.5rem);
  font-family: Playfair;
}
.top > span {
  font-style: italic;
}
.description {
  transform: rotate(-90deg);
  transform-origin: left;
  width: min-content;
  left: 3.75rem;
  top: 82vh;
  position: absolute;
  font-size: 1.5rem;
}

.image {
  width: 50%;
  object-fit: cover;
  min-height: 40rem;
  margin-top: 8rem;
  transition: .5s ease-in-out;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  transform-origin: right;
}
.image:hover {
  width: 70%;
}